
@font-face {font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: 'iconfont';
    src: url('../iconfont2/iconfont.eot'); /* IE9*/
    src: url('../iconfont2/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont2/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont2/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont2/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:36px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    margin-left: 66px;
    margin-top: -30px;
}
.iconfont2 {
    font-family:"iconfont" !important;
    font-size:15px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
* {
	font-family: "Microsoft YaHei";
}
button:hover{
	background-color: #rgba(0,0,0,0.7);
	opacity: 0.5;
}
.body {
	width: 1280px;
}
.top {
	width: 100%;
	height: 521px;
	overflow: hidden;
}
.left {
	float: left;
	height: 100%;
	width: 431px;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	background-color: #e74f4d;
	color: #ffffff
}
.left p {
	margin-top: 175px;
}
.string1 {
	width: 31px;
	height: 2px;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 25px;
	margin-left: auto;
	background-color: #ffffff;
}
.btn1 {
	width: 169px;
	height: 43px;
	border-width: 2px;
	border-color: #ffffff;
	background-color: #e95a58;
	font-size: 20px;
	color: #ffffff;
}
.block {
	width: 419px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.p1 {
	margin-top: 159px;
}
.string2 {
	width: 31px;
	height: 2px;
	margin-top: 25px;
	margin-right: auto;
	margin-bottom: 25px;
	margin-left: auto;
	background-color: #ababaa;
}
.btn2 {
	width: 169px;
	height: 43px;
	border-width: 2px;
	border-color: #e95a58;
	background-color: #ffffff;
	font-size: 20px;
	color: #e95a58;
}

.right {
	float: right;
	height: 100%;
	width: 431px;
	margin-top: -311px;
	background-image: url(../picture/stander.png);
}
.border {
	width: 0;
	height: 0;
	margin-top: 220px;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 30px solid white;
}
.middle1 {
	height: 300px;
	width: 420px;
	text-align: center;
	margin-left: auto;
	margin-right: auto; 
}
.middle1 h3 {
	margin-top: 115px;
}
.string3 {
	width: 31px;
	height: 2px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 16px;
	margin-left: auto;
	background-color: #e74f4d;
}
.middle1 p {
	font-size: 12px;
	color: #aaaaaa
}
.middle2 {
	height: 450px;
}
.item {
	float: left;
	width: 39%;
	height: 100%;
}
.item div {
	height: 100%;
	width: 390px;
	margin-left: auto;
	margin-right: auto;
}
.item div h4 {
	margin-bottom: 30px;
}
.item div p {
	color: #aaaaaa 
}
a {
	color: #959291;
	text-decoration: none;
}

.more {
	text-align: right;
}
.form {
	float: right;
	height: 100%;
	width: 61%;
}
.form div {
	width: 680px;
	float: right;
	margin-right: 55px;
}
li {
	list-style: none;
}
li input {
	width: 310px;
	height: 40px;
	margin-right: 20px;
	margin-bottom: 16px;
	background-color: #ededef;
}
textarea {
	width: 647px;
	height: 120px;
	margin-bottom: 16px;
	resize: none;
	background-color: #ededef;
}
.btn3 {
	width: 655px;
	height: 40px;
}
.bottom1 {
	height: 360px;
	width: 100%;
	overflow: hidden;
	background-color: #32353e;
	text-align: center;
}
.bot1 {
	width: 470px;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	color: #f5f5f5
}
.bot1 p {
	font-size: 12px;
}
.bottom1 input {
	width: 427px;
	height: 34px;
	border-color: #989a9e
}
.btn4 {
	width: 81px;
	height: 40px;
	background-color: #6f7278;
	margin-left: -5px;
	border-color: #51535b;

}
.bot2 {
	width: 450px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
.bottom2 {
	height: 60px;
	width: 100%;
	overflow: hidden;
	background-color: #2f3039;
}
.l {
	float: left;
	display: inline-block;
	margin-top: 30px;
	margin-left: 40px;
	color: #ebebeb;
}
.r {
	float: right;
	display: inline-block;
	margin-top: 30px;
	margin-right: 40px;
	
}
.r a {
	color: #ebebeb;
	text-decoration: none;
}